/*@font-face {
	font-family: 'Lato-Light';
	src: url('../fonts/Lato-Light.eot?') format('eot'), 
	     url('../fonts/Lato-Light.woff') format('woff'), 
	     url('../fonts/Lato-Light.ttf')  format('truetype'),
	     url('../fonts/Lato-Light.svg#Lato-Light') format('svg');
}
@media screen and (-webkit-min-device-pixel-rapport: 0) {
    @font-face {
        font-family: 'Lato-Light';
        src: url ('../fonts/Lato-Light.svg#Lato-Light') format('svg');
    }
}
*/