*{box-sizing:border-box;}
html{
	font-size:62.5%;
	-webkit-font-smoothing: antialiased;
	height:100%;width:100%;
}
body{
	position:relative;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	font-size:16px;font-size:1.6em;
	height:100%;width:100%;
}
.content{
	display:block;
	position:relative;
	max-width:820px;
	width:100%;
	margin:0 auto;
}
a{
	font-weight:700;
	font-size:11px;font-size:1.1rem;
	text-transform:uppercase;
	cursor:pointer !important;
	color:#fff;
}
h1{
	font-weight:100;
	font-size:36px;font-size:3.6rem;
	line-height:50px;line-height:5rem;
	color:#FFF;
	margin-bottom:30px;
}
h2{
	display:block;
	position:relative;
	width:100%;
	padding-bottom:35px;
	margin-bottom:50px;
	font-weight:300;
	font-size:20px;font-size:2rem;
	text-align:center;
}
.a-propos h2, .blog h2, .evenement h2{padding-bottom:0;margin-top:15px;}
.evenement h2{margin-bottom:20px;}
h2:after{
	content:'';
	display:block;
	position:absolute;
	width:180px;height:1px;
	bottom:0;left:50%;
	background-color:#f3b32a;
	-webkit-transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
			transform: translate(-50%, 0);
}
.a-propos h2:after, .blog h2:after, .evenement h2:after{
	display:none;
}
h3{
	font-weight:900;
	color:#333333;
	text-transform:uppercase;
}
p{
	color:#FFF;
	line-height:28px;line-height:2.8rem;
	text-align:center;
}
strong{
	font-weight:700;
}
.a-propos strong{
	color:#f3b32a;
}
.icon-svg{
	display:block;
	height:50px;
	width:30px;
	margin:0 auto;
	background:#f3b32a;
}
.evenement .icon-svg{
	background:#da453d;
}
.cross{
	display:inline-block;
	position:relative;
	width:35px;height:35px;
	margin-top:30px;
	cursor:pointer;

	border:1px solid rgb(255,255,255);
	border:1px solid rgba(255,255,255,.3);
	-webkit-transition:all .3s ease-in-out;
       -moz-transition:all .3s ease-in-out;
    	 -o-transition:all .3s ease-in-out;
    		transition:all .3s ease-in-out;
}
.cross:hover{
	border:1px solid rgb(255,255,255);
	border:1px solid rgba(255,255,255,1);
}
.cross:before, .cross:after{
	content:'';
	display:block;
	position:absolute;
	background-color:#fff;
	top:52%;left:52%;
	-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
}
.cross:before{
	width:1px;height:13px;
}
.cross:after{
	height:1px;width:13px;
}
.close{
	position:absolute;
	top:10px;right:10px; 
	background:none;
	border:none;  
	height:15px;width:15px;
	padding:0; 
	cursor:pointer;
}
.close::before, .close::after {
	content: "";
	position: absolute;
	top:0;left:0; 
	height:50%;width:50%;
	border-style: solid;
	border-color: #fff;
	border-width: 0px 1px 1px 0px;

	-webkit-transform: rotate(45deg); 
		-ms-transform: rotate(45deg); 
			transform: rotate(45deg); 
}
.close::before {
	border-width: 0px 1px 1px 0px;
	top:-2px;left:4px;
}
.close::after {
	border-width: 1px 0px 0px 1px;
	top:6px;
	top:9px;left:4px;
}
body.noscroll {
    overflow: hidden;
}

/********************************************************************/
/*                              NAV                                 */
/********************************************************************/
nav{
	position:fixed;
	height:105px;
	width:100%;
	top:0;
	z-index:3;
	text-align:right;
	-webkit-transition:background-color .3s ease, height .4s .5s ease;
       -moz-transition:background-color .3s ease, height .4s .5s ease;
    	 -o-transition:background-color .3s ease, height .4s .5s ease;
    		transition:background-color .3s ease, height .4s .5s ease;
}
.blog nav{
	background-color:#0c182c;
}
nav.on{
	height:76px;
	background-color:#0c182c;
}
.solutions nav.on{
	background-color:#1e9c5b;
}
.expertises nav.on{
	background-color:#f3b32a;
}
.evenement nav.on{
	background-color:#da453d;
}
nav.active{
	-webkit-transition:background-color .3s ease, height .4s ease;
       -moz-transition:background-color .3s ease, height .4s ease;
    	 -o-transition:background-color .3s ease, height .4s ease;
    		transition:background-color .3s ease, height .4s ease;
	height:100%;
	background-color:#0c182c;
}
nav .content:before{
	content:'';
	display:inline-block;
	vertical-align:middle;
	width:0;height:100%;
}
nav #logo{
	position:absolute;
	left:0;top:10px;
	z-index:1;
	-webkit-transform: translate(-110%, 0);
		-ms-transform: translate(-110%, 0);
			transform: translate(-110%, 0);
	-webkit-transition:all .3s ease;
       -moz-transition:all .3s ease;
    	 -o-transition:all .3s ease;
    		transition:all .3s ease;
}
nav.on #logo{
	width:80px;
}
nav ul{
	width:95%;height:100%;
	display:inline-block;
	vertical-align:middle;
}
nav ul li{
	position:relative;
	display:inline-block;
	vertical-align:middle;
	margin-left:20px;
	height:100%;
	line-height:105px;
}
nav.on ul li{
	line-height:76px;
}
nav.active ul li{
	line-height:40px;line-height:4rem;
}
nav ul li:after{
	content:'';
	display:block;
	position:absolute;
	width:100%;height:1px;
	bottom:0;
	background-color:#f3b32a;

	opacity:0;
	visibility:hidden;
	-webkit-transition:all .3s ease;
       -moz-transition:all .3s ease;
    	 -o-transition:all .3s ease;
    		transition:all .3s ease;
}
.solutions nav ul li:after, 
.expertises nav ul li:after,
.evenement nav ul li:after{background-color:#fff;}
nav ul li:hover:after,
nav ul li.current:after{
	opacity:1;
	visibility:visible;
}
nav ul li.contact:after{display:none;}
nav ul li a{
	-webkit-transition:all .3s ease;
       -moz-transition:all .3s ease;
    	 -o-transition:all .3s ease;
    		transition:all .3s ease;
}
nav ul li:hover a{color:#f3b32a;}
.solutions nav ul li:hover a,
.expertises nav ul li:hover a,
.evenement nav ul li:hover a,
.solutions nav ul li.current a{color:#fff;}
nav ul li.contact a{
	padding:12px 22px;
	color:#f3b32a;
	border:1px solid #f3b32a;
}
.solutions nav ul li.contact a,
.expertises nav ul li.contact a,
.evenement nav ul li.contact a{
	color:#fff;
	border:1px solid #fff;
}

.menu-button {
    position: absolute;
    height: 15px;width: 20px;
    right: 20px;top: 30px;
    cursor: pointer;
    z-index: 1;
    background: 0 0;
    border: none;

    display:none;
}
.menu-button span, .menu-button span:after, .menu-button span:before {
    cursor: pointer;
    height: 3px;
    width: 20px;
    background: #FFF;
    position: absolute;
    display: block;
    content: '';
    -webkit-transition: all .5s ease-in-out;
       -moz-transition: all .5s ease-in-out;
    	 -o-transition: all .5s ease-in-out;
    		transition: all .5s ease-in-out;
}
.menu-button span:before {
    top: -6px;
}
.menu-button span:after {
    bottom: -6px;
}
.menu-button.active span {
    background-color: transparent;
}
.menu-button.active span:before {
    top: 0;
}
.menu-button.active span:after {
    bottom: 0;
}
.menu-button.rotate span:before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.menu-button.rotate span:after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}

nav.menu-responsive{
	position:absolute;
	width:100%;height:100%;
	background:rgb(41,51,67);
	background:rgba(41,51,67,.92);
	display:none;
}
/**************************** END NAV *******************************/

/********************************************************************/
/*                             HEADER                               */
/********************************************************************/
header{
	padding-top:76px;
	position:relative;
	width:100%;height:100%;
	background:url(../img/back-home-header.jpg) no-repeat center;
	background-size:cover;
	text-align:center;
}
.a-propos header{
	background:url(../img/back-apropos-header.jpg) no-repeat center;
	background-size:cover;
}
.solutions header{
	background:url(../img/back-solutions-header.jpg) no-repeat center;
	background-size:cover;
}
.expertises header{
	background:url(../img/back-expertises-header.jpg) no-repeat center;
	background-size:cover;
}
.evenement header{
	background:url(../img/back-event-header.jpg) no-repeat center;
	background-size:cover;
}
header .content{height:100%;}
header .vertical-align{
	position:absolute;
	top:50%;
	-webkit-transform: translate(0, -50%);
		-ms-transform: translate(0, -50%);
			transform: translate(0, -50%);
}
header img{margin-bottom:30px;}
header p{color:#f3b32a;}
.solutions header p,
.expertises header p,
.evenement header p{color:#fff;}
header a{
	display:inline-block;
	padding:20px 50px;
	margin-top:37px;

	border:1px solid rgb(255,255,255);
	border:1px solid rgba(255,255,255,.3);
	-webkit-transition:all .3s ease-in-out;
       -moz-transition:all .3s ease-in-out;
    	 -o-transition:all .3s ease-in-out;
    		transition:all .3s ease-in-out;
}
header a:hover{
	border:1px solid rgb(255,255,255);
	border:1px solid rgba(255,255,255,1);
}

/*************************** END HEADER *****************************/

/********************************************************************/
/*                            CONTENT                               */
/********************************************************************/
section.first,
section.formats{
	padding:80px 0;
}
section.first p{
	color:#4d4d4d;
}

section.second ul li{
	display:inline-block;
	vertical-align:top;
	position:relative;
	float:left;
	width:33.3333333%;height:468px;
	box-sizing:border-box;
	text-align:center;
	
	border:1px solid #e5e5e5;
	-webkit-transition:all .3s ease-in-out;
       -moz-transition:all .3s ease-in-out;
    	 -o-transition:all .3s ease-in-out;
    		transition:all .3s ease-in-out;
}
.a-propos section.second ul li {
    width: 20%;
}
.a-propos section.second ul li:nth-child(3){
	border-left:none;border-right:none;
}
.evenement section.second ul li{
	height:375px;
}
section.second ul li:first-child, section.second ul li:last-child{
	border:none;
	border-top:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
}
section.second ul li:hover{
	border-color:#f3b32a;
	background-color:#f3b32a;
}
.evenement section.second ul li:hover{
	border-color:#da453d;
	background-color:#da453d;
}
section.second .expertise-li-content{
	position:absolute;
	left:0;top:50%;
	max-height:112px;
	overflow:hidden;
	-webkit-transform: translate(0, -50%);
		-ms-transform: translate(0, -50%);
			transform: translate(0, -50%);
	-webkit-transition:all .3s ease-in-out;
       -moz-transition:all .3s ease-in-out;
    	 -o-transition:all .3s ease-in-out;
    		transition:all .3s ease-in-out;
}
section.second ul li:hover .expertise-li-content{
	max-height:1000px;
}
section.second .icon{
	display:inline-block;
	width:100%;height:86px;
	margin-bottom:10px;
	text-align:center;
}
section.second .icon svg path, .a-propos section.second .icon-svg{
	-webkit-transition:all .3s ease-in-out;
       -moz-transition:all .3s ease-in-out;
    	 -o-transition:all .3s ease-in-out;
    		transition:all .3s ease-in-out;
}
section.second ul li:hover .icon svg path{
	fill:#fff;
}
.evenement section.second ul li:hover .icon-svg{
	background-color:#fff;
}
.a-propos section.second ul li:hover .icon-svg{
	background-color:#fff;
}
section.second ul li h3{
	font-size:14px;font-size:1.4rem;
	margin-bottom:18px;
	-webkit-transition:all .3s ease-in-out;
       -moz-transition:all .3s ease-in-out;
    	 -o-transition:all .3s ease-in-out;
    		transition:all .3s ease-in-out;
}
section.second ul li:hover h3{
	color:#fff;
}
section.second p{
	font-weight:300;
	font-size:14px;font-size:1.4rem;
	line-height:30px;line-height:3rem;
	padding:0 45px;

	opacity:0;
	visibility:hidden;
	-webkit-transition:all .3s ease-in-out;
       -moz-transition:all .3s ease-in-out;
    	 -o-transition:all .3s ease-in-out;
    		transition:all .3s ease-in-out;
}
.a-propos section.second .content p{
	opacity:1;
	visibility:visible;
	color:#4d4d4d;
	padding-bottom:25px;
}
section.second ul li:hover p{
	opacity:1;
	visibility:visible;
}
section.second a{
	display:inline-block;
	padding:20px 50px;
	margin-top:25px;

	border:1px solid rgb(255,255,255);
	border:1px solid rgba(255,255,255,.3);
	opacity:0;
	visibility:hidden;
	-webkit-transition:all .3s ease-in-out;
       -moz-transition:all .3s ease-in-out;
    	 -o-transition:all .3s ease-in-out;
    		transition:all .3s ease-in-out;
}
section.second a:hover{
	border:1px solid rgb(255,255,255);
	border:1px solid rgba(255,255,255,1);
}
section.second ul li:hover a{
	opacity:1;
	visibility:visible;
}

section.third{
	padding-top:80px;
	background-color:#1e9c5b;
}
section.third h2{
	color:#fff;
}
section.third h2:after{
	background-color:#3cb57c;
}
section.third h2 img{
	display:inline-block;
	vertical-align:middle;
}
section.third ul{
	width:100%;
	text-align:center;
	margin-top:70px;
}
section.third ul li{
	display:inline-block;
	text-align:center;
	min-width:174px;
}
section.third ul li:first-child{float:left;margin-top:25px;}
section.third ul li:last-child{float:right;margin-top:25px;}
section.third ul li img{
	margin-bottom:15px;
	width:50px;
}
section.third ul li h4{
	font-weight:300;
	color:#fff;
}
section.third img.big{
	display:block;
	position:relative;
	margin:40px auto 0 auto;
	width:55%;
	z-index:1;
}
section.third img.small{
	position:absolute;
	bottom:0;
	width:40%;
	z-index:0;
}
section.third img.small-left{left:0;}
section.third img.small-right{right:0;}

section.four{
	position:relative;
	background-color:#0c182c;
	padding:80px 0;
}
section.four .back-four{
	position:absolute;
	width:100%;height:100%;
	top:0;left:0;
	z-index:0;
}
section.four .back-four.na{
	opacity:0;
	visibility:hidden;
}
section.four h2{
	color:#fff;
}
section.four h2:after{
	background-color:#4788f2;
}
section.four .content-slide{
	position:relative;
	width:100%;min-height:224px;
	margin:70px 0 40px 0;
}
section.four .content-slide .slide{
	position:absolute;

	opacity:1;
	visibility:visible;
	-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
			transform: translate(0, 0);
	-webkit-transition:all .3s ease-in-out;
       -moz-transition:all .3s ease-in-out;
    	 -o-transition:all .3s ease-in-out;
    		transition:all .3s ease-in-out;
}
section.four .content-slide .slide.na{
	opacity:0;
	visibility:hidden;
	-webkit-transform: translate(0, 20px);
		-ms-transform: translate(0, 20px);
			transform: translate(0, 20px);
	-webkit-transition:all .3s ease-in-out;
       -moz-transition:all .3s ease-in-out;
    	 -o-transition:all .3s ease-in-out;
    		transition:all .3s ease-in-out;
}
section.four div.who{
	float:left;
}
section.four div.where{
	float:right;
	height:70px;
	line-height:70px;
}
section.four div.head-person{
	display:inline-block;
	vertical-align:middle;
	width:70px;height:70px;
	border-radius:100%;
}
section.four div.infos{
	display:inline-block;
	vertical-align:middle;
	margin-left:10px;
}
section.four h5{
	font-weight:700;
	color:#fff;
}
section.four h6{
	margin-top:8px;
	font-weight:300;
	font-size:14px;font-size:1.4rem;
	color:#4788f2;
}
section.four .where img, section.four .where h5{
	display:inline-block;
	vertical-align:middle;
}
section.four .where img{margin-right:10px;}
section.four p{
	font-weight:300;
	font-style:italic;
	text-align:left;
	padding:35px 0;
}
section.four ul{
	padding-top:20px;
	text-align:center;
	border-top:1px solid rgb(255,255,255);
	border-top:1px solid rgba(255,255,255,.25);
}
section.four ul li{
	display:inline-block;
	vertical-align:top;
	text-align:center;
	cursor:pointer;
}
section.four ul li .puce{
	display:inline-block;
	position:relative;
	width:30px;height:30px;
	border-radius:100%;
	box-sizing:border-box;
	overflow:hidden;

	border:2px solid #4380e4;
	-webkit-transition:all .3s ease-in-out;
       -moz-transition:all .3s ease-in-out;
    	 -o-transition:all .3s ease-in-out;
    		transition:all .3s ease-in-out;
}
section.four ul li.na .puce{
	border-color:#fff;
	background:#fff !important;
	-webkit-transform: scale(.3);
		-ms-transform: scale(.3);
			transform: scale(.3);
}
section.four ul li .puce img{
	position:absolute;
	left:50%;top:50%;
	width:100%;
	border-radius:100%;
	-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);

	opacity:1;
	visibility:visible;
	-webkit-transition:all .3s ease-in-out;
       -moz-transition:all .3s ease-in-out;
    	 -o-transition:all .3s ease-in-out;
    		transition:all .3s ease-in-out;
}
section.four ul li.na .puce img{
	opacity:0;
	visibility:hidden;
}
section.four ul li h6{
	font-weight:900;
	text-transform:uppercase;
	font-size:8px;font-size:0.8rem;
}
section.four ul li.na h6{
	opacity:0;
	visibility:hidden;
}
section.four button{
	display:block;
	position:absolute;
	top:0;
	width:50px;height:100%;
	box-sizing:border-box;
	background:none;
	border:none;
	cursor:pointer;
}
section.four button.left{
	left:0;
	border-right:1px solid rgb(255,255,255);
	border-right:1px solid rgba(255,255,255,.25);
	background:url(../img/slider-arrow-left.png) no-repeat center;
}
section.four button.right{
	right:0;
	border-left:1px solid rgb(255,255,255);
	border-left:1px solid rgba(255,255,255,.25);
	background:url(../img/slider-arrow-right.png) no-repeat center;
}

section.five{
	padding:80px 0;
}
section.five h2{
	color:#333333;
}
section.five h2:after{
	background-color:#333333;
}
section.five .infos{
	text-align:center;
}
section.five .adress, section.five .phone{
	display:inline-block;
	vertical-align:top;
	margin:0 35px;
}
section.five .adress .icon, section.five .phone .icon{
	display:inline-block;
	width:42px;height:42px;
	margin-bottom:20px;
}
section.five .adress p, section.five .phone p{
	font-weight:700;
	font-size:14px;font-size:1.4rem;
	line-height:20px;line-height:2rem;
	color:#333333;
}
section.five form{margin-top:50px;}
section.five form .left, section.five form .right{width:50%;}
section.five form .right{text-align:right;}
section.five form input[type="text"], section.five form textarea{
	display:inline-block;
	width:100%;
	font-weight:500;
	font-size:12px;font-size:1.2rem;
	color:#bfbfbf;
	padding:20px 15px;
	border:1px solid #ededed;
	margin:10px 0;
}
section.five form input[type="text"]{width:97%;}
section.five form textarea{min-height:200px;}
section.five .container-submit{
	position:relative;
}
section.five .submit-anim{
	display:block;
	position:absolute;
	z-index:1;
	width:156px;height:25px;
	left:50%;top:0;
	-webkit-transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
			transform: translate(-50%, 0);
	border:1px solid #1e9c5b;
}
section.five .submit-anim::before{
	content:'';
	display:block;
	position:absolute;
	width:0;height:100%;
	left:0;top:0;
	background:#1e9c5b;
	-webkit-transition:all 0s ease-in-out, background 0s 0s ease-in-out;
       -moz-transition:all 0s ease-in-out, background 0s 0s ease-in-out;
    	 -o-transition:all 0s ease-in-out, background 0s 0s ease-in-out;
    		transition:all 0s ease-in-out, background 0s 0s ease-in-out;
}
section.five .submit-anim.active::before{
	-webkit-transition:all 3s .4s ease-in-out, background .3s 3.2s ease-in-out;
       -moz-transition:all 3s .4s ease-in-out, background .3s 3.2s ease-in-out;
    	 -o-transition:all 3s .4s ease-in-out, background .3s 3.2s ease-in-out;
    		transition:all 3s .4s ease-in-out, background .3s 3.2s ease-in-out;
	background:transparent;
	width:100%;
}
section.five .submit-anim i{
	display:block;
	position:absolute;
	top:50%;left:50%;
	-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
	font-size:11px;font-size:1.1rem;
	color:#1e9c5b;

	opacity:0;
	visibility:hidden;
	-webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
    	 -o-transition: all .3s ease-in-out;
    		transition: all .3s ease-in-out;
}
section.five .submit-anim.active i{
	-webkit-transition: all .3s 3.2s ease-in-out;
       -moz-transition: all .3s 3.2s ease-in-out;
    	 -o-transition: all .3s 3.2s ease-in-out;
    		transition: all .3s 3.2s ease-in-out;
	opacity:1;visibility:visible;
}
section.five input[type="submit"]{
	display:block;
	position:relative;
	z-index:2;
	padding:20px 50px;
	max-width:160px;
	width:156px;
	margin:30px auto 0 auto;
	background:white;
	font-weight:700;
	font-size:11px;font-size:1.1rem;
	color:#1e9c5b;
	text-transform:uppercase;
	cursor:pointer;

	border:1px solid #c7e6d6;
	-webkit-transition:all .3s ease-in-out, background 0s 0s ease;
       -moz-transition:all .3s ease-in-out, background 0s 0s ease;
    	 -o-transition:all .3s ease-in-out, background 0s 0s ease;
    		transition:all .3s ease-in-out, background 0s 0s ease;
}
section.five input[type="submit"].active{
	-webkit-transition:all .3s ease-in-out, background 0s .3s ease;
       -moz-transition:all .3s ease-in-out, background 0s .3s ease;
    	 -o-transition:all .3s ease-in-out, background 0s .3s ease;
    		transition:all .3s ease-in-out, background 0s .3s ease;
	color:transparent;
	padding:5px 50px;
	border:1px solid #1e9c5b;
	background:transparent;
}
section.five input[type="submit"]:hover{
	border:1px solid #1e9c5b;
}

section .team-slider{
	display:block;
	position:relative;
	overflow:hidden;
	width:100%;height:240px;
	margin-top:35px;
	-webkit-transition:all .3s linear;
       -moz-transition:all .3s linear;
    	 -o-transition:all .3s linear;
    		transition:all .3s linear;
}
section .team-slider .back-team{
	position:absolute;
	left:0;top:0;
	height:100%;width:calc(100% * 3);
	background:url(../img/back-team-slider.jpg) repeat-x 0 0;
}
section .team-slider a{
    display: inline-block;
    position:relative;
    left:50%;top:50%;
    padding: 20px 50px 20px 70px;
    -webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);

    border:1px solid rgb(255,255,255);
	border:1px solid rgba(255,255,255,.3);
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
    	 -o-transition: all .3s ease-in-out;
    		transition: all .3s ease-in-out;
}
section .team-slider a:hover{
	border:1px solid rgb(255,255,255);
	border:1px solid rgba(255,255,255,1);
}
section .team-slider a i{
	position:absolute;
	left:20px;top:46%;
	-webkit-transform: translate(0, -50%);
		-ms-transform: translate(0, -50%);
			transform: translate(0, -50%);
	font-size:16px;font-size:1.6rem;
}

section.six {
    padding-top: 50px;
}
section.six .references-galerie li{
	position:relative;
	display:inline-block;
	vertical-align:top;
	float:left;
	width:50%;height:100%;max-height:400px;
}
section.six .references-galerie li .reference-item{
	position:absolute;
	top:0;left:0;
	width:100%;height:100%;
	background:rgb(12,24,44);
	background:rgba(12,24,44,.9);

	opacity:0;
	visibility:hidden;
	-webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
    	 -o-transition: all .3s ease-in-out;
    		transition: all .3s ease-in-out;
}
section.six .references-galerie li .hover-infos{
	position:absolute;
	top:50%;left:50%;
	-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
	text-align:center;

	opacity:0;
	visibility:hidden;
	-webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
    	 -o-transition: all .3s ease-in-out;
    		transition: all .3s ease-in-out;
}
section.six .references-galerie li .hover-infos img{
	display:block;
	margin-bottom:30px;
}
section.six .references-galerie li .active-infos{
	position:absolute;
	top:10px;left:10px;bottom:10px;right:10px;
	border:1px solid rgb(255,255,255);
	border:1px solid rgba(255,255,255,.3);
	text-align:center;

	opacity:0;
	visibility:hidden;
	-webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
    	 -o-transition: all .3s ease-in-out;
    		transition: all .3s ease-in-out;
}
section.six .references-galerie li .active-infos img{
	margin:20px 0 10px 0;
	border-radius:100%;
}
section.six .references-galerie li .active-infos h5{
	font-weight:700;
	color:#fff;
}
section.six .references-galerie li .active-infos h6{
	margin:8px 0 20px 0;
	font-size:12px;font-size:1.2rem;
	font-weight:300;
	color:#4788f2;
}
section.six .references-galerie li .active-infos p{
	font-weight:300;
	font-style:italic;
}
section.six .references-galerie li .active-infos a{
	display: inline-block;
    padding: 20px 50px;
    margin-top: 20px;
    border: 1px solid rgb(255,255,255);
    border: 1px solid rgba(255,255,255,.3);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
section.six .references-galerie li .active-infos a:hover{
	border: 1px solid rgb(255,255,255);
    border: 1px solid rgba(255,255,255,1);
}
section.six .references-galerie li:hover .reference-item,
section.six .references-galerie li.active .reference-item,
section.six .references-galerie li:hover .hover-infos,
section.six .references-galerie li.active .active-infos{
	opacity:1;
	visibility:visible;
}
section.six .references-galerie li.active .hover-infos{
	opacity:0;
	visibility:hidden;
}

section.six .references-galerie li:last-child{background:#f3b32a;}
section.six .references-galerie li:last-child .reference-cta{
	position:absolute;
	width:100%;
	top:50%;left:0;
	text-align:center;
	-webkit-transform: translate(0, -50%);
		-ms-transform: translate(0, -50%);
			transform: translate(0, -50%);
}
section.six .references-galerie li:last-child .reference-cta h6{
	font-weight:bold;
	color:#fff;
	text-transform:uppercase;
	line-height:25px;line-height:2.5rem;
	max-width:330px;width:100%;
	margin:0 auto;
}
section.six .references-galerie li:last-child .reference-cta a{
    display: inline-block;
    padding: 20px 50px;
    margin-top: 35px;
    
    border:1px solid rgb(255,255,255);
	border:1px solid rgba(255,255,255,.3);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
section.six .references-galerie li:last-child .reference-cta a:hover{
	border:1px solid rgb(255,255,255);
	border:1px solid rgba(255,255,255,1);
}

.solutions section li,
.expertises section li{
	position:relative;
	padding:50px 0;
	text-align:center;
}
.solutions section > ul > li,
.expertises section > ul > li{
	position:relative;
}
.solutions section > ul > li .img-back,
.expertises section > ul > li .img-back{
	position:absolute;
	top:0;left:0;
	width:100%;height:100%;

	opacity:0;
	visibility:hidden;
	-webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.solutions section > ul > li:hover .img-back,
.expertises section > ul > li:hover .img-back{
	opacity:1;
	visibility:visible;
}
.solutions section li img{margin-bottom:30px;}
.solutions section li h3,
.expertises section li h3{
	font-weight:300;
	font-size:20px;font-size:2rem;
	color:#333;
	text-transform:none;
}
.solutions section li h4{
	font-weight:700;
	color:#333;
	margin:10px 0 25px 0;
}
.solutions section li p,
.expertises section li p{
	color:#333;
	font-size:14px;font-size:1.4rem;
}
.solutions section li .buttons{margin-top: 37px;}
.solutions section li a{
	display: inline-block;
	color:#1e9c5b;
    padding: 20px 50px;  
    margin:0 20px;
    border: 1px solid #ceecde;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.solutions section li a:hover{border: 1px solid #fff;}
.solutions section li:hover h3,
.solutions section li:hover h4,
.solutions section li:hover p,
.solutions section li:hover a{
	color:#fff;
}

.expertises li .chiffre{
	font-weight:700;
	font-size:60px;font-size:6rem;
	color:#f3b32a;
	line-height:normal;
	margin-bottom:10px;
}
.expertises section li p{
	margin:25px 0;
	padding:0 30px;
}
.expertises section li h4{
	font-size:14px;font-size:1.4rem;
	line-height:18px;line-height:1.8rem;
	font-weight:700;
	margin-top:10px;
}
.expertises li:hover .chiffre,
.expertises section li:hover p,
.expertises section li:hover h3,
.expertises section li:hover h4{
	color:#fff;
}
.expertises section li:hover .icon-svg{
	background-color:#fff;
}
.expertises section .services{
	position:relative;
}
.expertises section .services li{
	display:inline-block;
	vertical-align:top;
	width:30%;
	background:transparent;
	padding:0 20px;
	box-sizing:border-box;
}
.expertises section.question{
	position:relative;
	width:100%;
	max-height:270px;height:100%;
	background:url(../img/back-expertises-contact.jpg) no-repeat center;
	background-size:cover;
	text-align:center;
}
.expertises section.question div{
	position:absolute;
	width:100%;
	top:50%;
	-webkit-transform: translate(0, -50%);
		-ms-transform: translate(0, -50%);
			transform: translate(0, -50%);
}
.expertises section.question h6{
	font-weight:300;
	font-size:22px;font-size:2.2rem;
	color:#fff;
}
.expertises section.question a{
	display: inline-block;
    padding: 20px 50px;
    margin-top: 37px;
    border: 1px solid rgb(255,255,255);
    border: 1px solid rgba(255,255,255,.3);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.expertises section.question a:hover{
	border: 1px solid rgb(255,255,255);
    border: 1px solid rgba(255,255,255,1);
}

.blog .articles{
	padding:126px 0 50px 0;
}
.blog .articles h6,
.blog .articles .articles-categories li a,
.blog .list .article-infos h4{
	font-weight:700;
	font-size:12px;font-size:1.2rem;
	text-align:center;
	text-transform:uppercase;
}
.blog .articles .articles-categories{
	margin:38px 0 50px 0;
	text-align:center;
}
.blog .articles .articles-categories li{
	display:inline-block;
	vertical-align:top;
	width:20%;
}
.digital{color:#f3b32a;}
.business{color:#da453d;}
.testimonials{color:#4788f2;}
.event{color:#1e9c5b;}
.list .content{
	max-width:1024px;
}
.blog .list .content ul{text-align:center;}
.blog .list li{
	width:306px;height:298px;
	padding-bottom:14px;
}
.blog .list li:nth-child(12n+1),
.blog .list li:nth-child(12n+7){
	width:666px;height:596px;
	padding-bottom:14px;
}
.blog .list li:nth-child(12n+5),
.blog .list li:nth-child(12n+11){
	float:left;
	margin:0 5%;
}
.blog .list li:nth-child(12n+1),
.blog .list li:nth-child(12n+8),
.blog .list li:nth-child(12n+9),
.blog .list li:nth-child(12n+4),
.blog .list li:nth-child(12n+10){
	float:left;
}
.blog .list li:nth-child(12n+7),
.blog .list li:nth-child(12n+2),
.blog .list li:nth-child(12n+3),
.blog .list li:nth-child(12n+6),
.blog .list li:nth-child(12n+12){
	float:right;
}
.blog .list li img{
	width:100%;height:auto;
}
.blog .list .article-infos{
	position:relative;
	width:90%;
	margin:-40px auto 0 auto;
	padding:15px 5%;
	text-align:center;
	z-index:1;
	background:#fff;
}
.blog .list li:nth-child(12n+1) .article-infos,
.blog .list li:nth-child(12n+7) .article-infos{
	margin:-70px auto 0 auto;
}
.blog .list .article-infos h5{
	font-weight:400;
	color:#333;
	font-size:10px;font-size:1.0rem;
	margin:10px 0 20px 0;
}
.blog .list .article-infos h3{
	font-weight:100;
	font-size:20px;font-size:2.0rem;
}
.blog .list li:nth-child(12n+1) .article-infos h3,
.blog .list li:nth-child(12n+7) .article-infos h3{
	font-size:30px;font-size:3.0rem;
}

.article .article-header{
	width:100%;height:600px;
	position:relative;
	background:url(../img/back-article-header.jpg) no-repeat center;
	background-size:cover;
}
.article-header .content-article-header{
	position:absolute;
	width:100%;
	text-align:center;
	top:50%;
	-webkit-transform: translate(0, -50%);
		-ms-transform: translate(0, -50%);
			transform: translate(0, -50%);
	margin-top:-45px;
}
.content-article-header h5{
	font-weight:700;
	font-size:12px;font-size:1.2rem;
	text-transform:uppercase;
}
.content-article-header h6{
	font-weight: 400;
    color: #fff;
    font-size: 10px;
    font-size: 1.0rem;
    margin: 10px 0 20px 0;
}
.content-article-header img{
	width:60px;height:auto;
	border-radius:100%;
	display:inline-block;
	vertical-align:middle;
	margin-right:15px;
}
.content-article-header .author-infos{
	display:inline-block;
	vertical-align:middle;
	text-align:left;
}
.content-article-header h3{
	font-weight:700;
	color:#fff;
	text-transform:none;
}
.content-article-header h4{
	font-weight:300;
	font-size:12px;font-size:1.2rem;
	color:#f3b32a;
	margin-top:10px;
}
.article-content{
	background:transparent;
	text-align:center;
}
.article-content .content-large{
	max-width:1024px;
	width:100%;
	padding:60px 0;
	margin:0 auto;
	position:relative;
	background:#fff;
	margin-top:-45px;
}
.article-content .content-large.digital{border-top:3px solid #f3b32a;}
.article-content .content-large.business{border-top:3px solid #da453d;}
.article-content .content-large.testimonials{border-top:3px solid #4788f2;}
.article-content .content-large.event{border-top:3px solid #1e9c5b;}
.article-content h2{
	font-weight:500;
	font-size:18px;font-size:1.8rem;
	line-height:36px;line-height:3.6rem;
	color:#333;
	padding:0;
	margin:0;
}
.article-content h2:after{display:none;}
.article-content h3{
	font-weight:400;
	color:#4d4d4d;
	margin:30px 0 20px 0;
}
.article-content p{
	font-weight:300;
	color:#4d4d4d;
	line-height:30px;line-height:3rem;
}
.article-content .content-large .content div{
	margin:40px 0;
}
.article-content legend{
	font-weight:300;
	font-style:italic;
	color:#4d4d4d;
	text-align:center;
	margin-top:15px;
	width:100%;
}
.article-content blockquote{
	font-weight:400;
	line-height:30px;line-height:3rem;
	margin-top:15px;
}
.article-content .buttons{
	position:absolute;
	z-index:2;
	left:30px;top:60px;
}
.article-content .buttons button{
	position:relative;
	display:block;
	width:44px;height:44px;
	border:none;background:#fff;
	font-size:16px;font-size:1.6rem;
	color:#b2b2b2;
	cursor:pointer;
	border:1px solid rgb(178,178,178);
	border:1px solid rgba(178,178,178,.25);
	-webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.article-content .buttons button:hover{
	border-color:rgba(178,178,178,1);
}
.article-content .buttons .prev{
	margin-bottom:10px;
}
.article-content .buttons .tw{
	border-top:1px solid transparent;
}
.article-content .buttons .prev.digital{
	border-color:rgb(243, 179, 42, .25);
	border-color:rgba(243, 179, 42, .25);
	background:#fff url(../img/arrow-left-digital.png) no-repeat center;
}
.article-content .buttons .prev:hover.digital{
	border-color:rgba(243, 179, 42, 1);
}
.article-content .buttons .prev.business{
	border-color:rgb(218, 69, 61);
	border-color:rgba(218, 69, 61, .25);
	background:#fff url(../img/arrow-left-business.png) no-repeat center;
}
.article-content .buttons .prev:hover.business{
	border-color:rgba(218, 69, 61, 1);
}
.article-content .buttons .prev.testimonials{
	border-color:rgb(71, 136, 242);
	border-color:rgba(71, 136, 242, .25);
	background:#fff url(../img/arrow-left-testimonials.png) no-repeat center;
}
.article-content .buttons .prev:hover.testimonials{
	border-color:rgba(71, 136, 242, 1);
}
.article-content .buttons .prev.event{
	border-color:rgb(30, 156, 91);
	border-color:rgba(30, 156, 91, .25);
	background:#fff url(../img/arrow-left-event.png) no-repeat center;
}
.article-content .buttons .prev:hover.event{
	border-color:rgba(30, 156, 91, 1);
	border-top:1px solid rgba(30, 156, 91, 1);
}
.article .list{
	text-align:center;
}
.article .list li{
	width:306px;height:298px;
	padding-bottom:14px;
	display:inline-block;
	vertical-align:top;
	margin:0 2%;
}
.article .list li img{
	width:100%;height:auto;
}
.article .list .article-infos{
	position:relative;
	width:90%;
	margin:-40px auto 0 auto;
	padding:15px 5%;
	text-align:center;
	z-index:1;
	background:#fff;
}
.article .list .article-infos h5{
	font-weight:400;
	color:#333;
	font-size:10px;font-size:1.0rem;
	margin:10px 0 20px 0;
}
.article .list .article-infos h3{
	font-weight:100;
	font-size:20px;font-size:2.0rem;
}

.evenement .formats{
	background:#f7f7f7;
	padding-bottom:0;
}
.evenement .formats ul{
	margin-top:40px;
}
.evenement .formats li{position:relative;}
.evenement .formats img{
	width:50%;
	height:auto;
	display:block;
}
.evenement .formats li:nth-child(2) img{margin-left:50%;}
.evenement .format-title{
	position:absolute;
	right:0;top:0;
	width:50%;height:100%;
}
.evenement .formats li:nth-child(2) .format-title{left:0;}
.evenement .format-title .vertical-center{
	position:absolute;
	width:100%;
	text-align:center;
	top:50%;
	-webkit-transform: translate(0, -50%);
		-ms-transform: translate(0, -50%);
			transform: translate(0, -50%);
}
.evenement .format-title h3{
	font-weight:700;
	margin-top:20px;
}
.evenement section.first .content{text-align:center;}
.evenement section.first .content a{
	display: inline-block;
    padding: 20px 50px;
    margin-top: 50px;
    font-weight: 700;
    font-size: 12px;
    font-size: 1.2rem;
    color: #da453d;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid rgb(218, 69, 61);
    border: 1px solid rgba(218, 69, 61, .25);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.evenement section.first .content a:hover{
	border-color: rgba(218, 69, 61, 1);
}
.evenement section.four div.where{
	float:none;
	text-align:center;
}

.evenement section.four ul li{
	margin:0 10px;
}
.evenement section.four ul li .puce{
	width:10px;height:10px;
	border:none;

	background:rgb(255,255,255);
	background:rgba(255,255,255,1);
	-webkit-transition:all .3s ease-in-out;
       -moz-transition:all .3s ease-in-out;
    	 -o-transition:all .3s ease-in-out;
    		transition:all .3s ease-in-out;
}
.evenement section.four ul li.na .puce{
	background:rgba(255,255,255,.5) !important;
	-webkit-transform: scale(1);
		-ms-transform: scale(1);
			transform: scale(1);
}
/************************* END CONTENT ******************************/

/********************************************************************/
/*                             FOOTER                               */
/********************************************************************/
footer{
	background:#0c182c;
	padding:20px 0;
}
footer .content{
	padding-top:16px;
	text-align:right;
}
footer #logo{
	position:absolute;
	top:0;left:10px;
}
footer .content > ul > li{
	display:inline-block;
	vertical-align:top;
	text-align:left;
	margin:0 15px;
}
footer .content > ul > li:last-child{
	margin:0 0 0 15px;
}
footer .content ul li a{
	font-size:10px;font-size:1.0rem;
}
footer .content > ul > li > ul{
	margin-top:10px;
}
footer .content > ul > li > ul > li > a{
	font-weight:400;
	text-transform:none;
	color:rgb(255,255,255);
	color:rgba(255,255,255,.5);
}
select::-ms-expand {
    display: none;
}
footer .select-wrapper{
	margin-top:-11px;
	border-radius:0;
	-webkit-appearance: none;
	cursor:pointer;
	overflow: hidden;
	background: url(../img/arrow-select.png) no-repeat right;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;

	border:1px solid rgb(255,255,255);
	border:1px solid rgba(255,255,255,.3);
	-webkit-transition:all .3s ease-in-out;
       -moz-transition:all .3s ease-in-out;
    	 -o-transition:all .3s ease-in-out;
    		transition:all .3s ease-in-out;
}
footer .select-wrapper select{
	padding: 10px 50px 10px 20px;
	font-family:'Roboto', sans-serif;
	font-weight:700;
	color:#fff;
	font-size:10px;font-size:1rem;
	text-transform:uppercase;
	-moz-appearance:none;
	-webkit-appearance: none;
	border:none;background:transparent;
}
footer .select-wrapper:hover{
	border:1px solid rgb(255,255,255);
	border:1px solid rgba(255,255,255,1);
}
footer .social{
	width:100%;
	margin-top:20px;
	padding-top:20px;
	border-top:1px solid #2a3446;
	text-align:center;
}
footer .social li{
	display:inline-block;
	vertical-align:middle;
	margin:0 25px;
}
footer .content .social li a{
	display:block;
	width:20px;height:20px;
	font-size:16px;font-size:1.6rem;
	text-align:center;
}
footer .content .social li a.viadeo{
	width:16px;height:16px;
}
/*************************** END FOOTER *****************************/

/********************************************************************/
/*                           RESPONSIVE                             */
/********************************************************************/
	@media screen and (max-width: 1200px) {
		.a-propos section.second ul li {
		    width: 33.3333333%;
		}
		.a-propos section.second ul li:nth-child(3){
			border-left:none;
		}
		.a-propos section.second ul li:nth-child(4), .a-propos section.second ul li:last-child{
			border-top:none;
			border-right:none;
		}
		.a-propos section.second ul li:last-child{
			border-right:1px solid #e5e5e5;
			border-left:1px solid #e5e5e5;
		}
	}
	@media screen and (max-width: 1085px) {
		nav #logo{
			position:absolute;
			left:10px;
			-webkit-transform: translate(0, 0);
				-ms-transform: translate(0, 0);
					transform: translate(0, 0);
		}
	}
	@media screen and (max-width: 1024px) {
		.content{padding:0 10px;}

		section.four .content{
			width:calc(100% - 100px);
		}

		section.six .references-galerie li {
		    max-height: 300px;
		}
		section.six .references-galerie li .active-infos img{
			width:15%;height:auto;
		}
		section.six .references-galerie li .active-infos h6{
			margin:8px 0 10px 0;
		}
		section.six .references-galerie li .active-infos p{
			font-size:14px;font-size:1.4rem;
			line-height:16px;line-height:1.6rem;
			padding:0 5px;
		}

		.blog .list li{
			width:306px !important;
			height:298px !important;
			float:none !important;
			display:inline-block;
			vertical-align:top;
			margin:0 1% !important;
		}
		.blog .list .article-infos h3{
			font-size:20px !important;
			font-size:2.0rem !important;
		}

		.article-content .buttons{
			position:static;
			text-align:center;
		}
		.article-content .buttons button{
			display:inline-block;
			vertical-align:top;
			margin:0;
		}
		.article-content .buttons .prev{
			margin-right:10px;
		}
		.article-content .buttons .tw{
			border:1px solid rgb(178,178,178);
			border:1px solid rgba(178,178,178,.25);
		}
		.article-content .content img{
			width:100%;
		}
	}
	@media screen and (max-width: 800px) {
		section.six .references-galerie li {
		    max-height: 250px;
		}
		section.six .references-galerie li .active-infos a {
		    display: block;
		    padding: 0;
		    margin-top:10px;
		    border:none;
		}
		section.six .references-galerie li .active-infos a:hover{border:none;}
	}
	@media screen and (max-width: 768px) {
		footer .content > ul.menu-footer > li{
			margin:0 5px;
		}
	}
	@media screen and (max-width: 700px) {
		.menu-button{
			display:block;
		}
		nav ul{
			position:absolute;
			left:0;top:50%;
			height:auto;

			opacity:0;
			visibility:hidden;
			-webkit-transform: translate(0, -60%);
				-ms-transform: translate(0, -60%);
					transform: translate(0, -60%);
		}
		nav.active ul{
			-webkit-transition:all .3s ease-in-out;
		       -moz-transition:all .3s ease-in-out;
		    	 -o-transition:all .3s ease-in-out;
		    		transition:all .3s ease-in-out;
			opacity:1;
			visibility:visible;
			-webkit-transform: translate(0, -50%);
				-ms-transform: translate(0, -50%);
					transform: translate(0, -50%);
		}
		nav ul li {
		    display: block;
		    margin-left: 0;
		    height: auto;
		    line-height:40px;line-height:4rem;
		    text-align:center;
		}
		nav ul li:after{
			display:none;
		}

		section.second ul li, .a-propos section.second ul li{
			display:block;
			float:none;
			width:100%;height:468px;
		}
		.a-propos section.second ul li:nth-child(2), .a-propos section.second ul li:nth-child(3){
			border-top:none;
		}
		.a-propos section.second ul li{
			border-left:1px solid #e5e5e5 !important;
			border-right:1px solid #e5e5e5 !important;
		}

		section.four .content-slide {
		    min-height: 300px;
		}

		section.six .references-galerie li{
			display:block;
			float:none;
			width:100%;
			max-height:400px;
		}
		section.six .references-galerie li .active-infos img{
			width:auto;
			margin: 30px 0 20px 0;
		}
		section.six .references-galerie li .active-infos h6{
			margin:8px 0 20px 0;
		}
		section.six .references-galerie li .active-infos p{
			font-size:16px;font-size:1.6rem;
			line-height:18px;line-height:1.8rem;
		}
		section.six .references-galerie li .active-infos a {
		    display: inline-block;
		    padding: 20px 50px;
		    margin-top:20px;
		    border:1px solid rgb(255,255,255);
		    border:1px solid rgba(255,255,255,.3);
		}
		section.six .references-galerie li .active-infos a:hover{
			border:1px solid rgb(255,255,255);
		    border:1px solid rgba(255,255,255,.3);
		}

		.blog .list li{
			width:100% !important;
			height:auto !important;
			display:block;
			margin:0;
		}
		.blog .list .article-infos h3{
			font-size:20px !important;
			font-size:2.0rem !important;
		}

		.article .list li{
			width:100%;height:auto;
			display:block;
			margin:0;
		}

		footer .content > ul > li > ul{
			display:none;
		}
	}
	@media screen and (max-width: 630px) {
		section.four .content-slide {
		    min-height: 400px;
		}
		section.four div.who {
		    float: none;
		}
		section.four div.where {
		    float: none;
		}

		footer #logo{
			position:static;
			display:block;
			margin:0 auto 30px auto;
		}
		footer .content > ul{
			text-align:center;
		}
	}
	@media screen and (max-width: 580px) {
		header{
			padding-top:76px;
			position:static;
			width:100%;height:auto;
		}
		header .content {
		    height: auto;
		}
		header .vertical-align {
		    position: static;
		    padding:20px 0;
		    -webkit-transform: translate(0,0);
		    -ms-transform: translate(0,0);
		    transform: translate(0,0);
		}

		section.third ul{padding-bottom:20px;}
		section.third ul li, section.third ul li:first-child, section.third ul li:last-child {
			margin-top:0;
		    min-width:auto;
		    max-width:100px;
		}

		section.five form .left, section.five form .right{
			float:none;
			width:100%;
		}
		section.five form .right{text-align:left;}
		section.five form input[type="text"], section.five form textarea{
			display:block;
			width:100%;
		}
		section.five form textarea{min-height:100px;}
		section.five input[type="submit"]{
			display:block;
			width:100%;
		}

		.evenement .formats img{
			width:100%;
		}
		.evenement .formats li:nth-child(2) img{margin-left:0;}
		.evenement .format-title{
			position:static;
			display:block;
			width:100%;height:auto;
		}
		.evenement .formats li:nth-child(2) .format-title{left:0;}
		.evenement .format-title .vertical-center{
			position:absolute;
			width:100%;
			text-align:center;
			top:50%;
			-webkit-transform: translate(0, -50%);
				-ms-transform: translate(0, -50%);
					transform: translate(0, -50%);
		}
		.evenement .format-title h3{
			font-weight:700;
			margin-top:20px;
		}

		footer .content > ul.menu-footer > li{
			display:block;
			margin:20px 0;
			text-align:center;
		}
		footer .content > ul.menu-footer > li:last-child{
			margin-top:30px;
		}
	}
	@media screen and (max-width: 540px) {
		section.six .references-galerie li{
			max-height:300px;
		}
		section.six .references-galerie li .active-infos img{
			width:15%;
		}
		section.six .references-galerie li .active-infos h6{
			margin:8px 0 10px 0;
		}
		section.six .references-galerie li .active-infos p{
			font-size:14px;font-size:1.4rem;
			line-height:16px;line-height:1.6rem;
		}
		section.six .references-galerie li .active-infos a {
		    display: block;
		    padding: 0;
		    border:none;
		}
		section.six .references-galerie li .active-infos a:hover{
			border:none;
		}

		.expertises section .services li{
			display:block;
			width:100%;
			margin-top:20px;
			/*padding:0 20px;*/
		}
	}
	@media screen and (max-width: 500px) {
		.solutions section li a{
			display: block;
		    margin:10px auto;
		}

		.expertises section li p{
			padding:0;
		}
	}
	@media screen and (max-width: 460px) {
		section.third img.big, section.third img.small{display:none}

		.blog .articles .articles-categories li {
		    display:block;
		    width:100%;
		    margin-bottom:5px;
		}
	}
	@media screen and (max-width: 390px) {
		section.four .content {
		    width: calc(100% - 50px);
		}
		section.four button {
		    width: 25px;
		}

		section.six .references-galerie li{
			max-height:250px;
		}
		section.six .references-galerie li .active-infos img{
			margin:20px 0 10px 0;
		}
		section.six .references-galerie li .active-infos a {
		    margin-top:20px;
		}
	}
	@media screen and (max-width: 350px) {
		section.four .content-slide {
		    min-height: 470px;
		}

		section.five .adress, section.five .phone{
			margin:0 15px;
		}

		footer .content .social li{
			margin:0 10px;
		}
	}
/************************* END RESPONSIVE ***************************/